.link {
  color: var(--extra-color);
  text-decoration: none;
  font-size: 20px;

  transition: opacity 150ms;

  &:hover:not([disabled]) {
    opacity: 0.7;
  }

  &:active:not([disabled]) {
    opacity: 0.4;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
