.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.text {
  font-size: 20px;
  color: #b678f0;

  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  list-style: none;
  margin: 0;
  padding: 0;
}
