.input {
  color: var(--primary-text-color);

  background-color: var(--primary-bg);
  border-radius: 5px;

  padding: 10px 15px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.invalid {
  border-color: var(--error-color);
}
