@font-face {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Roboto'),
    url('/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('Roboto'),
    url('/fonts/roboto/Roboto-Bold.woff2') format('woff2');
}
