*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-size: 16px;

  background-color: var(--primary-bg);

  margin: 0;
  height: 100dvh;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

label,
button {
  cursor: pointer;
}

app-root {
  display: block;

  height: 100dvh;
}
