:root {
  --light-primary-bg: #b1eeee;
  --light-secondary-bg: #e1f1f0;
  --light-border-color: #9fe2dd;
  --light-primary-text-color: #000000;

  --dark-primary-bg: #141414;
  --dark-secondary-bg: #3f3f3f;
  --dark-border-color: #cfcfcf;
  --dark-primary-text-color: #ffffff;

  --error-color: #fa1717;
  --extra-color: #60b6a3;
}
