<form class="form" [formGroup]="formFields" (submit)="onSubmit()">
  @if (formErrors.length) {
    <div class="form-errors">
      <app-form-errors [errors]="formErrors" />
    </div>
  }
  <div>
    <div class="control-container">
      <label for="email">Email:</label>
      <app-input inputId="email" formControlName="email" [valid]="isValid('email')" />
    </div>
    <app-form-errors [errors]="getEmailErrorsMessage()" />
  </div>
  <div>
    <div class="control-container">
      <label for="username">Username:</label>
      <app-input inputId="username" formControlName="username" [valid]="isValid('username')" />
    </div>
    <app-form-errors [errors]="getUsernameErrorsMessage()" />
  </div>
  <div>
    <div class="control-container">
      <label for="password">Password:</label>
      <app-input inputId="password" formControlName="password" [valid]="isValid('password')" />
    </div>
    <app-form-errors [errors]="getPasswordErrorsMessage()" />
  </div>
  <app-button type="submit" [disabled]="formFields.invalid || isSubmitting">Submit</app-button>
  <div class="links">
    <span>You're registered?</span>
    <app-link [path]="['/auth/sign-in']" parentClass="link">Sign In</app-link>
  </div>
</form>
