.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
