.app-button {
  color: var(--primary-text-color);

  background-color: var(--primary-bg);
  transition: opacity 150ms;
  border-radius: 10px;

  border: 1px solid var(--border-color);
  width: 100%;
  padding: 10px 15px;

  &:hover:not([disabled]) {
    opacity: 0.7;
  }

  &:active:not([disabled]) {
    opacity: 0.5;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
