<div class="container">
  @if (post.isLoading()) {
    <p>Loading...</p>
  }
  @if (post.error()) {
    <p>Server error!</p>
  }
  @if (post.hasValue()) {
    @let postData = post.value()!;
    <p><span class="field-title">Title:</span> {{ postData.title }}</p>
    <p><span class="field-title">Text:</span> {{ postData.text }}</p>
    <p><span class="field-title">Creator:</span> {{ postData.creator.username }}</p>
    @if (postData.canModify) {
      <div class="actions">
        <a class="app-link" [routerLink]="['/posts', postData.slug, 'modify']">Modify</a>
        <button class="app-button" type="button" (click)="deletePost(postData.slug)">Delete</button>
      </div>
    }
  }
</div>
