@font-face {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto"),
    url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto"),
    url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

:root {
  --light-primary-bg: #b1eeee;
  --light-secondary-bg: #e1f1f0;
  --light-border-color: #9fe2dd;
  --light-primary-text-color: #000000;

  --dark-primary-bg: #141414;
  --dark-secondary-bg: #3f3f3f;
  --dark-border-color: #cfcfcf;
  --dark-primary-text-color: #ffffff;

  --error-color: #fa1717;
  --extra-color: #60b6a3;
}

html {
  box-sizing: border-box;
}

[data-theme="dark"] {
  --primary-bg: var(--dark-primary-bg);
  --secondary-bg: var(--dark-secondary-bg);
  --border-color: var(--dark-border-color);
  --primary-text-color: var(--dark-primary-text-color);
}

[data-theme="light"] {
  --primary-bg: var(--light-primary-bg);
  --secondary-bg: var(--light-secondary-bg);
  --border-color: var(--light-border-color);
  --primary-text-color: var(--light-primary-text-color);
}

body {
  font-family: "Roboto";
  font-size: 16px;

  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

label,
button {
  cursor: pointer;
}
