:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;
}

.posts-container {
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--secondary-bg);
  border-radius: 15px;

  padding: 15px;
}

.field-title {
  font-size: 20px;
  text-decoration: underline;
}

.text,
.title,
.creator {
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-inner {
  display: flex;
  gap: 10px;
  align-items: center;

  background-color: var(--secondary-bg);
  border-radius: 20px;

  padding: 10px;
}
