.app-input {
  color: var(--secondary-text-color);

  background-color: var(--primary-bg);
  border-radius: 5px;
  transition: opacity 150ms;

  padding: 10px 15px;
  border: 1px solid var(--border-color);

  &:hover:not([disabled]) {
    opacity: 0.8;
  }

  &:active:not([disabled]) {
    opacity: 0.6;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--invalid {
    border-color: var(--error-color);
  }
}
